body {
    margin: 0px;
}

/* Footer Styling */
.footer-column {
    margin-top: -4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #11122b;
    color: #fff;
    height: 400px;
}



.footer-column>.footer-logo img {
    width: 180px;
    height: 100%;
    filter: brightness(50%);
}

.footer-column>.footer-phone-hours-area {
    color: #cea135;
    font-weight: 900;
    letter-spacing: 1px;
}

.footer-column>.footer-phone-hours-area span {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1em;
    letter-spacing: 2px;
}

.footer-column>.footer-phone-hours-area>.footer-hours {
    text-transform: uppercase;
    font-size: 0.8em;
    text-align: center;
    padding-bottom: 2px;

}

.footer-column>.nav-links {
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-column>.footer-social-media-icons {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    font-size: 3em;
}

.footer-column>.footer-social-media-icons a {
    color: #fff;
    transition: 0.5s;
}

.footer-column>.footer-social-media-icons a:hover {
    color: #cea135;
}

.footer-column>.footer-copyright {
    font-size: 0.7em;
    margin-top: 20px;
}

/*  Skewed Header Styles */
.skewed-header {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.skewed-header>.header-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    transform: skewY(-6deg);
    transform-origin: top left;
    filter: brightness(50%);
}

.skewed-header>.skewed-header-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.skewed-header>.skewed-header-wrapper>.skewed-header-content {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skewed-header>.skewed-header-wrapper>.skewed-header-content>.heading-wrapper {
    background-color: #cea135;
    color: #11122b;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 175px;
    text-align: center;
    padding: 10px;
}

/* Page container style */

.page-container {
    display: flex;
    justify-content: center;
}

.page-container>.content-wrap {
    width: 1000px;
}

.page-container>.content-wrap>#chef {
    width: 350px;
    margin: 23px 40px 20px 0px;
    float: left;
    border: 1px solid #cea135;
}

.page-container>.content-wrap p {
    letter-spacing: 1px;
    line-height: 30px;
}