/* Navigation styles */
.navigation-wrapper {
    height: 190px;
    background-color: #11122b;
    padding: 60px 100px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Left Navigation Column */

.navigation-wrapper>.left-nav-column {
    display: flex;
    align-items: center;
}

.navigation-wrapper>.left-nav-column>.phone-icon i {
    padding-right: 15px;
    font-size: 2em;
}

.navigation-wrapper>.left-nav-column>.phone-hours-area {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
}

.navigation-wrapper>.left-nav-column>.phone-hours-area>.hours {
    font-size: 0.8em;
    color: #cea135;
    text-transform: uppercase;
}

/* Center Navigation Column */

.navigation-wrapper>.center-nav-column {
    width: 500px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 42px;
}

.navigation-wrapper>.center-nav-column>.nav-logo img {
    width: 216px;
    height: auto;
}

.navigation-wrapper>.center-nav-column>.nav-logo {
    display: flex;
    justify-content: center;
}

/* Navigstion Bar styling */
.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links>.link {
    width: 70px;
    text-align: center;
}

.nav-links>.link a {
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

.nav-links>.link a:hover {
    color: #cea135;
    letter-spacing: 2px;
}



/* Right Navigation Column */

.navigation-wrapper>.right-nav-column {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.navigation-wrapper>.right-nav-column>.map-icon {
    font-size: 2em;
    padding-left: 15px;
}

.navigation-wrapper>.right-nav-column>.map-icon a {
    color: #fff;
    transition: 0.5s;
}

.navigation-wrapper>.right-nav-column>.map-icon a:hover {
    color: #cea135;
}

.navigation-wrapper>.right-nav-column>.address-area {
    text-align: right;
}

.navigation-wrapper>.right-nav-column>.address-area a {
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

.navigation-wrapper>.right-nav-column>.address-area a:hover {
    color: #cea135;
}